<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Email: {{user.email}}</h2>
                </header>

                <p>
                    Name: {{user.fullName}}
                </p>

                <small class="author">
                    {{#if user.isAdmin}}
                        <div>Role{{this.User.fullName}} - Admin</div>
                        {{else}}
                        <div>Role{{this.User.fullName}} - Regular user</div>
                    {{/if}}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>